#carrusel {
  overflow-x: scroll; /* Permite el desplazamiento horizontal */
  cursor: grab; /* Cambia el cursor para indicar que se puede arrastrar */
  scrollbar-width: none; /* Oculta el scroll en Firefox */
  -ms-overflow-style: none; /* Oculta el scroll en IE y Edge */
}

#carrusel.dragging {
  cursor: grabbing; /* Cambia el cursor mientras se arrastra */
}

#carrusel::-webkit-scrollbar {
  display: none; /* Oculta el scroll en Chrome, Safari y Opera */
}